@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'InterVariable-Italic';
    src: url('../assets/fonts/InterVariable-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'InterVariable';
    src: url('../assets/fonts/InterVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-Regular-BF644b214ff145f.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-Ultrabold-BF644b21500840c.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('../assets/fonts/PPEditorialNew-UltraboldItalic-BF644b214faef01.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

  h1, h2, h3, .fancy-heading {
    font-family: 'Editorial New', sans-serif;
    font-weight: 100;
  }

  
  h1.italic, h2.italic {
    font-style: italic; /* Apply italic to the h1 or h2 */
  }

  body{
    color: #323232;
    overflow-x: hidden;

  }

  .top-right-container {
    position: absolute;
    top: -100px;
    right: -100px;
    display: flex;
    flex-direction: column;
    rotate: 18.67deg;
    z-index: -1;
    pointer-events: none; /* optional: lets content be clickable through it */
  }
  
  .top-right-image {
    width: 700px;
    max-width: 90vw; /* keeps it responsive */
    height: auto;
  }
  
  .left-middle-container {
    position: absolute;
    top: 25rem;
    left: -5rem;
    display: flex;
    rotate: -23.98deg;
    z-index: -1;
    flex-direction: column; /* Stack the images vertically */
    gap: 10px; /* Add space between the images */
    padding: 40px; /* Add padding to avoid touching edges */
  }

  .bottom-left-container {
    position: absolute;
    bottom: 5rem;
    left: -50px;
    display: flex;
    rotate: -23.98deg;
    z-index: -1;
    flex-direction: column; /* Stack the images vertically */
    gap: 10px; /* Add space between the images */
  }

  .bottom-right-container {
    position: absolute;
    bottom: 17rem;
    right: -150px;
    display: flex;
    rotate: 110.98deg;
    z-index: -1;
    flex-direction: column; /* Stack the images vertically */
    gap: 10px; /* Add space between the images */
  }


  /* CSS */
.swiper-slide {
  width: 80% !important; /* Make slide smaller than container to allow peeking */
  background: #fff;
  text-align: center;
  padding: 0;
  border-radius: .75rem;
  border: #323232;
  border-width: 1px;
  border-style: double;
}



@media screen and (max-width: 767px) {
  .top-right-container {
    top: -100px;
    right: -100px;
    rotate: 18deg;
  }

  .top-right-image {
    width: 300px;
  }

  .left-middle-container {
    top: 90px;
    left: -4rem;
    width: 15rem;
  }
  .bottom-left-container {
    position: absolute;
    bottom: 4rem;
    left: -4rem;
    display: flex;
    rotate: -23.98deg;
    z-index: -1;
    flex-direction: column; /* Stack the images vertically */
    gap: 10px; /* Add space between the images */
    width: 20rem;
  }

  .bottom-right-container {
    position: absolute;
    bottom: 35rem;
    right: -6rem;
    display: flex;
    rotate: 110.98deg;
    z-index: -1;
    flex-direction: column; /* Stack the images vertically */
    gap: 10px; /* Add space between the images */
    width: 15rem;
  }
  
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; /* optional, helps with containing abs. elements */
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem; /* Adjust to your header height */
}

.footer-wrapper{
    background-color: rgba(228, 245, 132, .34);
}

input{
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 6px;
    border: 1px black solid;
    border-radius: .75rem;
}

textarea{
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    padding: 6px;
    border: 1px black solid;
    border-radius: .75rem;
    margin-top: .5rem;
}
.top-left-hamburger{
    position: sticky;
    top: 0;
    left: 0;
    margin: 10px;
}